doctype html
html
    head
        title !{title}
    body
        table(border='2',style="width:400px; height:400px; text-align:center")
            thead
            tbody
            for object in board
                tr
                for element in object
                    if element == 0
                        td= '.' 
                    if element == 1
                        td= 'O'
                    if element == 2
                        td=  '.'
                    if element == 3
                        td= 'X'
